body{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color:rgb(22, 22, 22) ;
}
ul{
    margin:0%;
    padding: 0%;
}
li{
    display: inline-block;
    color:rgba(255, 255, 255, 0.808);
    padding: 15px 35px;
    margin-right: 5px;
}

h1{
    font-size: 50px;
}
p{
    font-size: 18px;
}
h2{
    font-size: 35px;
}
.text-color{
    color:orangered;
}
.button-color{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange,orangered);
    padding: 15px 40px;
    border-radius: 25px;
}
.flex-container{
    display: flex;
    margin-bottom: 90px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
#name-margin{
    margin-top: 100px;
}
.button-margin{
    margin-bottom: 60px;
}
#food-img{
    width: 50%;
    margin-top: 5%;
}
#paragraph-align{
    padding-right: 8%;
    padding-top: 5%;
}
.middle-banner{
    background-image: url(background-pic/Frame\ 59.jpg);
}
#p-tag-center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-center{
    text-align: center;
}
.ptag-font{
    font-size: 15px;
}
.food-box{
    width: 100%;
    margin:2%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 10px 30px gray;
    padding: 15px;
    border-radius: 20px;
}
.food-box img{
    height: 220px;
    width: 100%;
    border-radius: 20px;
}
.social-media-box{
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 10px 30px gray;
    padding: 15px;
    border-radius: 20px;
}
.last-box-margin{
   margin: auto;
}
.paradise-color{
    color: gray;
}
.bottom-banner{
    background-color: rgb(22, 22, 22);
    height: 200px;
}
 #last-text-decoration{
     padding-top: 50px;
 } 
 #footer-decor {
     text-align: center;
     color:rgba(255, 255, 255, 0.808);
 }


