body{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
}
h2{
    font-size: 35px;
}
.text-color{
    color:orangered;
}
.button-color{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange,orangered);
    padding: 15px 40px;
    border-radius: 25px;
}
.flex-container{
    display: flex;
    margin-bottom: 90px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
#name-margin{
    margin-top: 100px;
}
.button-margin{
    margin-bottom: 60px;
}
#food-img{
    width: 50%;
    margin-top: 5%;
}
#paragraph-align{
    padding-right: 8%;
    padding-top: 5%;
}
.middle-banner{
    background-image: url(background-pic/Frame\ 59.jpg);
}
#p-tag-center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-center{
    text-align: center;
}
.food-description-font{
    font-size: 15px;
}
.food-box{
    width: 100%;
    margin:2%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 10px 30px gray;
    padding: 15px;
    border-radius: 20px;
}
.food-box img{
    height: 220px;
    width: 100%;
    border-radius: 20px;
}
    

